# Site settings
title: 木杉稼轩
url: "http://iamzhuoxuan.github.io"    # the protocol and hostname of your site, eg. `http://laobubu.github.io`
timezone: Asia/Guangzhou
description: >
  记录卓璇的所思所想。
  
# Your information
email: iamzhuoxuan@gmail.com
author: zhuoxuan
avatar: "//www.gravatar.com/avatar/your_email_md5?d=mm&s=135"
profile: 卓璇 90后
#twitter_username: twitter_username
#github_username:  github_username

# Comment Service (Disqus or 多说)
#  choose one and un-comment the line to active it
#disqus_shortname: xxx   # get one: https://disqus.com/admin/signup/
#duoshuo_shortname: xxx  # get one: http://duoshuo.com/create-site/

permalink: /archivers/:title
gems:
 - jekyll-paginate
 - jekyll-gist
 - jemoji

# Build settings
paginate: 10
paginate_path: "page:num"

highlighter: rouge
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
