<div class="header-placeholder"></div>
<header class="header">
  <div class="wrapper">
    <div id="sidebar-toggle">TOC</div>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      {% for link in site.header.links %}{% assign url = link[1] %}
        {% assign urlchk = url | split: "/" %}{% if urlchk[0] == '' and urlchk[1] != '' %}{% assign uprefix = site.baseurl %}{% else %}{% assign uprefix = ''%}{% endif %}
        <a class="page-link" href="{{ url | prepend: uprefix }}">{{ link[0] }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
