.wrapper {
	margin: 0 auto;
	max-width: 1100px;
}
@media (max-width: 1120px) {
	.wrapper {
		max-width: 800px;
	}
}

.header {
	background-color: #001;
	padding: 60px 30px;
	margin: 0;
}
.header .site-title {
	color: #FFF;
	text-decoration: none;
	font-size: 48px;
	@include media-query($on-palm) {
		font-size: 36px;
	}
}
.header .site-nav {
	text-align:right;
}
.header .site-nav a {
	text-decoration: none;
	color: #999;
	padding: 10px 20px;
	white-space:nowrap;
	border-radius: 20px;
}
.header .site-nav a:hover, .header .site-nav a:focus {
	background: #3c3c3c;
	color: #DDD;
}

.page-content {
	background:#e0e0e3;
	padding: 30px 0;

	.wrapper {
		background: #EEE;
		box-shadow: 0 1px 4px #999;
		outline: 1px solid #CCC;
		&:after {
			clear:both;
			content: '';
			display:block;
			height: 30px;
		}
	}
	
	img {
		max-width:100%;
	}
}

// Colum
.col-main {
	position: relative;
	float:left;
	width: 100%;
	padding: 30px;
	background: #FAFAFA;
	max-width: 740px;
	z-index:10;
}
.col-second {
	position: relative;
	float: left;
	width: 260px;
	height: 100%;
	padding: 20px;
}
.col-box{
	color: #666;
	font-size: $small-font-size;
	padding-bottom: 20px;
	
	p {
	    margin: 0;
	}
    ul {
        padding-left: 20px;
        margin: 0;
    }
	
	&:not(:first-child) {
    	border-top: 1px solid #ccc;
    	padding-top: 20px;
    }
    
    .col-box-title {
    	color: #333;
	    margin-bottom: 10px;
	    font-size: $small-font-size * 1.1;
    }
}
@media (max-width: 1120px) {
	.col-main,
	.col-second {
		width: auto;
		float: none;
	}
	.col-box {
		width: 50%;
		float: left;
		margin-bottom: 10px;
	}
	.col-box:not(:first-child) {
		border-top: none;
		padding-top:0;
	}
}
.col-box-author {
	text-align: center;
	.avatar {
		width: 135px;
		height: 135px;
		border-radius: 100%;
		margin: 20px auto;
		display: block;
	}
	.name {
		font-size: $base-font-size;
	}
	.contact {
		margin-top: 10px;
		a {
			background: #999;
			color: #eee;
			padding: 5px 10px;
			text-decoration: none;
			border-radius: 5px;
    		white-space: nowrap;
			
			&:hover {
				transition: background 0.3s ease;
				background: #666;
			}
		}
	}
}

// footer
.footer {
	padding: 60px 0;
	background-color: #e0e0e3;
	text-align:center;
	color:#666;
	font-size:$small-font-size;
}

@import "post", "home";

@include media-query($on-laptop) {
	.page-content {
		padding: 0;
		.wrapper:after {
			height: 0px;
		}
	}
	.footer {
		padding: 15px 0 ;
	}
}
@include media-query($on-palm) {
	.header {
		padding: 10px;
		text-align:center;
	}
	.header .site-nav {
		margin-top: 10px;
		text-align: center;
	}
	.header .site-nav a {
		border-radius: 0;
	}
	.col-main {
		padding: 10px;
	}
	.col-box {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	pre {
		padding: 10px;
	}
}

//Holy Grail Fix
@media (min-width: 1121px) {
	.col-main, .col-second {
		padding-bottom:60000px;
		margin-bottom:-60000px;
	}
	.page-content .wrapper {
		overflow:hidden;
	}
}